.site-footer {
	background-color:#1f2125;
	padding:20px 60px 20px 60px;
	border:none;
}

.site-footer nav {
	width:100%;
}

.site-footer .menu-secondary {
	text-align:left;
}

.menu-footer-social a,
.site-footer nav a {
	color:white!important;
	font-weight:bold;
	letter-spacing: 2px;
	text-transform:uppercase;
	font-size:13px;
}

.menu-footer-social a:hover,
.site-footer nav a:hover {
	color:#d95784!important;
}

.menu-footer-social {
	text-align:left;
	width:auto!important;
	float:left;
}
.menu-footer-social li {
	margin-right:5px;
}

.menu-footer-social a {
	margin-left:10px;
	margin-right:10px;
}
.cpx-creds {
	padding-top:10px;
	width:auto;
	float:right;
	color:#8d93a0;
}

.cpx-sub-footer {
	padding: 20px 60px 20px 70px;
	color:#8d93a0;
	background-color:#1f2125;
}
.cpx-sub-footer .widget {
	margin-bottom:0px;
}

/* GDPR
-------------------------------------------------- */
#cookie-notice {
    background-color: #f5f5f5;
    bottom: 0;
    color: #333;
    display: block;
    font-size: 15px;
    line-height: 56px;
    height: 56px;
    padding: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    width: 200%;
    left:-50%;
    z-index: 19000;
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0, 0.25);
}
#cookie-notice .container {
    background-color: transparent;
}
#cookie-notice a#gdpr-accept {
    background-color: #555;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    /*float: right;*/
    padding: 8px 16px 6px 16px;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
@media only screen and (max-width : 960px){
    #notification {
        height: auto;
        line-height: 21px;
        padding: 10px 0px;
        text-align: center;
    }
    #notification span {
        display: inline-block;
        padding-bottom: 10px;
    }
    #notification a {
        margin-right: 20px;
    }
    #notification a#gdpr-accept {
        float: none;
        margin: 0 auto;
        display: inline-block;
        clear: both;
    }
}


@media screen and (max-width: 959px){
	.cpx-creds,
	.menu-footer-social {
		float:none;
		text-align:center;
	}
	.menu-footer-social .menu-item {
		display: inline-block;
	}
	.site-footer .menu-secondary {
		text-align:center;
	}
}