.site-header {
	background-color:#1f2125;
}
.site-header .title-area {
	padding-top:10px;
	padding-bottom:10px;
}

.site-header .wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.site-header .header-right-logo,
.site-header .header-widget-area {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}

.site-header .header-widget-area {
	-webkit-box-flex:7;
	    -ms-flex:7;
	        flex:7;
}

.site-header .nav-primary {
	margin-left:20px;
}

.site-header .nav-primary{
	width:-webkit-fit-content;
	width:-moz-fit-content;
	width:fit-content;
}

.site-header .header-right-logo {
	/*width:100%;*/
}

.site-header .header-right-logo section:last-of-type {
	margin-left:auto;
}

.site-header nav a {
	color:white!important;
	font-weight:bold;
	letter-spacing: 2px;
	text-transform:uppercase;
	font-size:13px;
}
.site-header .sfHover a {
	outline:none;
}

.site-header .cpx-active a,
/*.site-header .sfHover a,*/
.site-header nav a:hover {
	outline:none;
	color:#d95784!important;
}

.site-header .header-right-logo .widget,
.site-header .header-left-logo .widget {
	margin-bottom:0px!important;
}

.menu-toggle {
	color:#8d93a0;
}

.menu-toggle:focus, .menu-toggle:hover, .sub-menu-toggle:focus, .sub-menu-toggle:hover {
	color:grey;
}

@media screen and (max-width: 959px){
	.site-header .genesis-responsive-menu {
		display:none;
	}
	.site-header .header-right-logo {
		display: none;
	}
	.site-header .header-widget-area {
		display: block;
	}
}